BioSenseCliente/src/wsdl/localhost_8080/BioSenseWS/BioSenseWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.biosensews/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.biosensews/" name="BioSenseWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.biosensews/" schemaLocation="http://localhost:8080/BioSenseWS/BioSenseWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editarPlanta">
<part name="parameters" element="tns:editarPlanta"/>
</message>
<message name="editarPlantaResponse">
<part name="parameters" element="tns:editarPlantaResponse"/>
</message>
<message name="cadastrarUsuario">
<part name="parameters" element="tns:cadastrarUsuario"/>
</message>
<message name="cadastrarUsuarioResponse">
<part name="parameters" element="tns:cadastrarUsuarioResponse"/>
</message>
<message name="buscarTipoPlanta">
<part name="parameters" element="tns:buscarTipoPlanta"/>
</message>
<message name="buscarTipoPlantaResponse">
<part name="parameters" element="tns:buscarTipoPlantaResponse"/>
</message>
<message name="todosTipoPlanta">
<part name="parameters" element="tns:todosTipoPlanta"/>
</message>
<message name="todosTipoPlantaResponse">
<part name="parameters" element="tns:todosTipoPlantaResponse"/>
</message>
<message name="editarTipoPlanta">
<part name="parameters" element="tns:editarTipoPlanta"/>
</message>
<message name="editarTipoPlantaResponse">
<part name="parameters" element="tns:editarTipoPlantaResponse"/>
</message>
<message name="cadastrarTipoPlanta">
<part name="parameters" element="tns:cadastrarTipoPlanta"/>
</message>
<message name="cadastrarTipoPlantaResponse">
<part name="parameters" element="tns:cadastrarTipoPlantaResponse"/>
</message>
<message name="deletarPlanta">
<part name="parameters" element="tns:deletarPlanta"/>
</message>
<message name="deletarPlantaResponse">
<part name="parameters" element="tns:deletarPlantaResponse"/>
</message>
<message name="todasLeituraPorPlanta">
<part name="parameters" element="tns:todasLeituraPorPlanta"/>
</message>
<message name="todasLeituraPorPlantaResponse">
<part name="parameters" element="tns:todasLeituraPorPlantaResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="cadastrarLeitura">
<part name="parameters" element="tns:cadastrarLeitura"/>
</message>
<message name="cadastrarLeituraResponse">
<part name="parameters" element="tns:cadastrarLeituraResponse"/>
</message>
<message name="buscarPlantaPorId">
<part name="parameters" element="tns:buscarPlantaPorId"/>
</message>
<message name="buscarPlantaPorIdResponse">
<part name="parameters" element="tns:buscarPlantaPorIdResponse"/>
</message>
<message name="todasPlantaPorUsuario">
<part name="parameters" element="tns:todasPlantaPorUsuario"/>
</message>
<message name="todasPlantaPorUsuarioResponse">
<part name="parameters" element="tns:todasPlantaPorUsuarioResponse"/>
</message>
<message name="cadastrarPlanta">
<part name="parameters" element="tns:cadastrarPlanta"/>
</message>
<message name="cadastrarPlantaResponse">
<part name="parameters" element="tns:cadastrarPlantaResponse"/>
</message>
<portType name="BioSenseWS">
<operation name="editarPlanta">
<input wsam:Action="http://ws.biosensews/BioSenseWS/editarPlantaRequest" message="tns:editarPlanta"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/editarPlantaResponse" message="tns:editarPlantaResponse"/>
</operation>
<operation name="cadastrarUsuario">
<input wsam:Action="http://ws.biosensews/BioSenseWS/cadastrarUsuarioRequest" message="tns:cadastrarUsuario"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/cadastrarUsuarioResponse" message="tns:cadastrarUsuarioResponse"/>
</operation>
<operation name="buscarTipoPlanta">
<input wsam:Action="http://ws.biosensews/BioSenseWS/buscarTipoPlantaRequest" message="tns:buscarTipoPlanta"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/buscarTipoPlantaResponse" message="tns:buscarTipoPlantaResponse"/>
</operation>
<operation name="todosTipoPlanta">
<input wsam:Action="http://ws.biosensews/BioSenseWS/todosTipoPlantaRequest" message="tns:todosTipoPlanta"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/todosTipoPlantaResponse" message="tns:todosTipoPlantaResponse"/>
</operation>
<operation name="editarTipoPlanta">
<input wsam:Action="http://ws.biosensews/BioSenseWS/editarTipoPlantaRequest" message="tns:editarTipoPlanta"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/editarTipoPlantaResponse" message="tns:editarTipoPlantaResponse"/>
</operation>
<operation name="cadastrarTipoPlanta">
<input wsam:Action="http://ws.biosensews/BioSenseWS/cadastrarTipoPlantaRequest" message="tns:cadastrarTipoPlanta"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/cadastrarTipoPlantaResponse" message="tns:cadastrarTipoPlantaResponse"/>
</operation>
<operation name="deletarPlanta">
<input wsam:Action="http://ws.biosensews/BioSenseWS/deletarPlantaRequest" message="tns:deletarPlanta"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/deletarPlantaResponse" message="tns:deletarPlantaResponse"/>
</operation>
<operation name="todasLeituraPorPlanta">
<input wsam:Action="http://ws.biosensews/BioSenseWS/todasLeituraPorPlantaRequest" message="tns:todasLeituraPorPlanta"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/todasLeituraPorPlantaResponse" message="tns:todasLeituraPorPlantaResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws.biosensews/BioSenseWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.biosensews/BioSenseWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="cadastrarLeitura">
<input wsam:Action="http://ws.biosensews/BioSenseWS/cadastrarLeituraRequest" message="tns:cadastrarLeitura"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/cadastrarLeituraResponse" message="tns:cadastrarLeituraResponse"/>
</operation>
<operation name="buscarPlantaPorId">
<input wsam:Action="http://ws.biosensews/BioSenseWS/buscarPlantaPorIdRequest" message="tns:buscarPlantaPorId"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/buscarPlantaPorIdResponse" message="tns:buscarPlantaPorIdResponse"/>
</operation>
<operation name="todasPlantaPorUsuario">
<input wsam:Action="http://ws.biosensews/BioSenseWS/todasPlantaPorUsuarioRequest" message="tns:todasPlantaPorUsuario"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/todasPlantaPorUsuarioResponse" message="tns:todasPlantaPorUsuarioResponse"/>
</operation>
<operation name="cadastrarPlanta">
<input wsam:Action="http://ws.biosensews/BioSenseWS/cadastrarPlantaRequest" message="tns:cadastrarPlanta"/>
<output wsam:Action="http://ws.biosensews/BioSenseWS/cadastrarPlantaResponse" message="tns:cadastrarPlantaResponse"/>
</operation>
</portType>
<binding name="BioSenseWSPortBinding" type="tns:BioSenseWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editarPlanta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cadastrarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarTipoPlanta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="todosTipoPlanta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarTipoPlanta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cadastrarTipoPlanta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletarPlanta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="todasLeituraPorPlanta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cadastrarLeitura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPlantaPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="todasPlantaPorUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cadastrarPlanta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BioSenseWS">
<port name="BioSenseWSPort" binding="tns:BioSenseWSPortBinding">
<soap:address location="http://localhost:8080/BioSenseWS/BioSenseWS"/>
</port>
</service>
</definitions>